/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/pattern.png);
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    background-color: #89a969;
}


/*.menu>li:nth-child(4)>a{margin-right:100px; }
	.menu>li:nth-child(5){overflow:hidden;}*/

nav span {
    font-size: 18px;
    font-weight: bold;
    color: red;
    float: right;
    padding: 15px;
}

nav span input {
    font-size: 14px;
}

nav span button {
    border-radius: 50%;
    background: #0099FF;
    color: white;
    font-size: 14px;
    padding: 3px;
    font-weight: normal;
}

.sub_menu {
    display: none;
    width: 150px;
    background: #EDDEED;
    position: absolute;
    top: 55px;
}

.sub_menu li {
    list-style: none;
    line-height: 55px;
    text-indent: 15px;
    text-align: left;
}

.sub_menu a {
    text-decoration: none;
}

.menu li:hover {
    background-color: rgb(89, 89, 89);
}

.menu>li:hover>.sub_menu {
    display: block;
}

.menu li .sub_menu li .sub_menu {
    left: 150px;
    display: none;
}

.menu li .sub_menu li:hover .sub_menu {
    display: block;
}

.sub_menu li:hover {
    background: yellow;
}

.sub_menu li:hover a {
    color: rgb(89, 89, 89);
}

header {
    width: 100%;
}

header img {
    width: 100%;
}

#main {
    width: 100%;
    height: 480px;
    margin: 2px auto;
    display: flex;
}

section #div1 {
    float: left;
    width: 49.5%;
}

section #div2 {
    float: right;
    width: 49.5%;
}

section h1 {
    text-align: center;
    color: #FF0000;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section p {
    text-align: justify;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
}

section form {
    width: 90%;
    padding-left: 5%;
}

fieldset {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 6px gray;
}

section input {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 5px 6px gray;
}