body{
	margin:0 auto;
	padding:0;	
}
header{
	height:220px;
	border:1px solid black;
	margin-top:15px;
}
caption{
	text-align: center;	
}
footer{
	text-align:center;
	height:50px;
	line-height:50px;
	background-color:#c4c4c4;
	font-weight:bold;
	margin-top:20px;
}
